/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end */

:root {
    --clr-primary: #0a0a0b;
    --clr-primary-shade: #252939;
    --clr-secondary: #215BF0;
    --clr-secondary-shade: #3e6fec;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey: #666666;
}
 
body {
	background-color: #000;
	color: var(--clr-white);
	overflow-x: hidden;
}

.primary-header img {
	-webkit-filter: invert(1);
	filter: invert(1);
	margin: 2rem;
	transition: 0.3s;
}


.primary-header {
	align-items: center;
	justify-content: space-between;
	
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 2rem;
	margin: 0;
	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(1rem);
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	gap: 2rem;

	
}

.primary-navigation .resume-button {
	color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	border-radius: 3px;
	padding: 10px;
}

.primary-navigation .resume-button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
	font-weight: 700;
}

.primary-navigation a {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	
	
}

.primary-navigation a:hover {
	color: var(--clr-secondary);
	
}

.primary-navigation a > span {
	font-weight: 700;
	margin-inline-end: .75em;
}



@media (max-width: 35em) {
	.primary-navigation {
		font-size: 24px;
		
		gap: 3em;
		z-index: 1000;
		position: fixed;
		inset: 0 0 0 30%;
		background: hsl(0 0% 100% / 0.1);
		backdrop-filter: blur(1rem);
		flex-direction: column;
		
		padding: min(30vh, 10rem) 2em;
		transform: translateX(100%);
		transition: transform 200ms ease-out;
		
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	
	.mobile-nav-toggle {
		display: block;
		z-index: 9999;
		position: absolute;
		width: 3rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		background-image: url(/images/bars-solid.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		height: 35px;
		width: 35px;
		border: 0;
		-webkit-filter: invert(1);
		filter: invert(1);
		padding: 0;
		
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url(/images/x-solid.svg);
	}

}

/*

.showcase {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.showcase h1 {
	font-size: 80px;
	
	

	
}

.showcase p {
	font-size: 32px;
	
	

}

.showcase img {
	height: 100%;
	width: auto;
} */
/* .showcase {
	min-height: 100vh;
	width: 100%;
	background-color: #000;
	background-image: url(/images/animation.gif);
	background-position: center;
	background-repeat: no-repeat;
	
} */