/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end */

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
    --clr-primary: rgb(10, 10, 11);
    --clr-primary-shade: #252939;
    --clr-secondary: rgb(33, 91, 240);
    --clr-secondary-shade: rgb(62, 111, 236);
    --clr-white: #ffffff;
    --clr-black: rgb(0, 0, 0);
    --clr-grey: #666666;
}

body {
	background-color: var(--clr-primary);
	color: var(--clr-white);
	overflow-x: hidden;
}



/* header-start*/

.primary-header img {
	-webkit-filter: invert(1);
	filter: invert(1);
	margin: 2rem;
	transition: 0.3s;
	left: 0;
}


.primary-header {
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	
}

/* header-end */


/* nav-start */

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 2rem;
	margin: 0;
	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(2rem);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	gap: 1rem;
}

.primary-navigation .resume-button {
	color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	border-radius: 3px;
	padding: 10px;
}

.primary-navigation .resume-button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
	font-weight: 700;
}

.primary-navigation a {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
}

.primary-navigation a:hover {
	color: var(--clr-secondary);
	
}

.primary-navigation a > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

@media (max-width: 55em) {
	.primary-navigation {
		font-size: 24px;
		gap: 3em;
		z-index: 1;
		position: fixed;
		inset: 0 0 0 30%;
		background: hsl(0 0% 100% / 0.1);
		backdrop-filter: blur(8rem);
		flex-direction: column;
		padding: min(30vh, 10rem) 2em;
		transform: translateX(100%);
		transition: transform 200ms ease-out;
		
	}

	.primary-navigation[data-visible="false"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: flex;
		z-index: 9999;
		position: absolute;
		justify-content: flex-end;
		width: 3rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		background-image: url(/images/bars-solid.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		height: 35px;
		width: 35px;
		border: 0;
		-webkit-filter: invert(1);
		filter: invert(1);
		padding: 0;
		
	}

	.mobile-nav-toggle[aria-expanded="false"] {
		background-image: url(/images/x-solid.svg);
	}
}

/* nav-end */


/* about-start */

.about {
	font-family: 'Roboto', sans-serif;
}

.about h1 {
	margin-top: 150px;
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.about h1 > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

.about h2{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 50px;
}

.about p{
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #f5f5f5;
}

/* .about img {
	height: 150px;
	width: auto;
} */

/* 
.animation {
	opacity: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
	max-width: 100%;
} */

/* .glitch {
	font-size: 4rem;
	text-shadow:0.02em 1 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
    			0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
} */

/* .glitch:hover {
	animation: glitch 200ms infinite;
} */
/* 
@keyframes glitch {
	0% {
	text-shadow:0.05em 0 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em 0.05em 0 rgba(33, 91, 240, 0.75);
	}
	14% {
	text-shadow:0.05em 0 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em 0.05em 0 rgba(33, 91, 240, 0.75);
	}
	15% {
	text-shadow:-0.05em -0.025em 0 rgba(240, 78, 33, 0.75),
				0.025em 0.025em 0 rgba(62, 111, 236, 0.75),
				-0.05em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	49% {
	text-shadow:-0.05em -0.025em 0 rgba(240, 78, 33, 0.75),
				0.025em 0.025em 0 rgba(62, 111, 236, 0.75),
				-0.05em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	50% {
	text-shadow:0.025em 0.05em 0 rgba(240, 78, 33, 0.75),
				0.05em 0 0 rgba(62, 111, 236, 0.75),
				0 -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	99% {
	text-shadow:0.025em 0.05em 0 rgba(240, 78, 33, 0.75),
				0.05em 0 0 rgba(62, 111, 236, 0.75),
				0 -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	100% {
	text-shadow:-0.025em 0 0 rgba(240, 78, 33, 0.75),
	-			0.025em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
} */

/* about-end */


/* skills-start */

.skills h1 {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.skills {
	background-color: rgba(27, 27, 29, 0.9);
	border-radius: 24px;

}

.skills h1 > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

.card {
	font-size: 20px;
	font-weight: 500;
	color: var(--clr-white);
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	background-color: rgb(50, 50, 50);
	border-radius: 24px;
	transition-duration: 0.3s;
	
}

.card:hover {
	transform: scale(1.05);
}

.card-text {
	padding: 5px;
}

.card-title {
	padding: 10px;
	font-weight: 700;
	font-size: 20px;
}

.card-img-top {
	height: 23vh;
	max-width: 16rem;
	border-bottom: 2px solid var(--clr-white);
	min-width: auto;
}

/* skills-end */

/* work-start */

.work {
	background-color: rgba(27, 27, 29, 0.9);
	border-radius: 24px;
}

.work h1 {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.work h1 > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

.work button a {
	text-decoration: none;
	color: var(--clr-white);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 63px;
	padding-right: 63px;
}

.work button {
	background-color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	border-radius: 3px;
	
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	transition: 0.3s ease-in;
	letter-spacing: 1px;
}

.work button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
}

.work p {
	text-align: left;
	height: 60%;
	font-size: 20px;
}


/* work-end */

/* scroll-to-top-button start */

.btnScrollToTop {
	display: none;
	position: fixed;
	right: 2rem;
	bottom: 3.5rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 25px;
	background: transparent;
	backdrop-filter: blur(1rem);
	color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	transition: 0.3s;
	
}

.btnScrollToTop:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
}

/* scroll-to-top-button-end */


/* contact-start */

.contact {
	background-color: rgba(27, 27, 29, 0.9);
	border-radius: 24px;
}

.contact p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.contact h1 {
	text-decoration: none;
	color: var(--clr-white);
	padding: 5px;		
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-decoration: none;
}

.contact p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact h1 > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

.contact h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.contact p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect a {
	text-decoration: none;
	color: var(--clr-white);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 10px 0 10px 0;
	
}

.connect i {
	font-size: 35px;
	padding-right: 20px;
}

.connect li:hover i {
	transition: 0.2s ease-in;
	color: var(--clr-secondary);
}

form ul li {
	width: 100%;
	min-width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	
}

form ul li:nth-of-type(1){
	padding-top: 10px;
}
form ul li input {
	
	width: 80%;
	padding: 10px;
	background-color: transparent;
	border: 1px solid white;
	color: var(--clr-white);
}

form ul li textarea {
	min-height: 130px;
	width: 80%;
	padding: 10px;
	background-color: transparent;
	border: 1px solid white;
	color: var(--clr-white);
}

.input-group {
	
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	
}

ul button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 28px 12px 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: transparent;
	transition: 0.3s ease-in;
	color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	margin-top: 10px;
	font-weight: 700;
	letter-spacing: 3px;
	border-radius: 3px;
	
}

ul button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
	font-weight: 700;
}
/* contact-end */



/* footer-start*/

.footer {
	height: 50px;
	background-color: var(--clr-primary-shade);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-white);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* footer-end */


/* thank-you-start */

.thankYou {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--clr-white);
	font-family: 'Roboto', sans-serif;
	padding-top: 200px;
}

.thankYou h1{
	font-size: 60px;
	padding: 30px;
	font-weight: 700;
}

.thankYou h2{
	font-size: 40px;
	padding: 30px;
}

.thankYou button {
	padding: 30px;
	border-radius: 20px;
	background-color: transparent;
	border: 2px solid var(--clr-secondary);
	color: var(--clr-secondary);
	font-size: 24px;
	transition: 0.2s ease-in;
}

.thankYou button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
}

/* thank-you-end */