/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end */

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
    --clr-primary: #0a0a0b;
    --clr-primary-shade: #252939;
    --clr-secondary: rgb(33, 91, 240);
    --clr-secondary-shade: rgb(62, 111, 236);
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey: #666666;
}

body {
	background-color: #000;
	color: var(--clr-white);
	overflow-x: hidden;
}

/* header-start*/

.primary-header img {
	-webkit-filter: invert(1);
	filter: invert(1);
	margin: 2rem;
	transition: 0.3s;
	left: 0;
}


.primary-header {
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	
}

/* header-end */


/* nav-start */

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 2rem;
	margin: 0;
	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(1rem);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	gap: 1rem;
}

.primary-navigation .resume-button {
	color: var(--clr-secondary);
	border: 2px solid var(--clr-secondary);
	border-radius: 3px;
	padding: 10px;
}

.primary-navigation .resume-button:hover {
	background-color: var(--clr-secondary-shade);
	color: var(--clr-white);
	font-weight: 700;
}

.primary-navigation a {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
}

.primary-navigation a:hover {
	color: var(--clr-secondary);
	
}

.primary-navigation a > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

@media (max-width: 55em) {
	.primary-navigation {
		font-size: 24px;
		gap: 3em;
		z-index: 1000;
		position: fixed;
		inset: 0 0 0 30%;
		background: hsl(0 0% 100% / 0.1);
		backdrop-filter: blur(2rem);
		flex-direction: column;
		padding: min(30vh, 10rem) 2em;
		transform: translateX(100%);
		transition: transform 200ms ease-out;
		
	}

	.primary-navigation[data-visible="false"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: flex;
		z-index: 9999;
		position: absolute;
		justify-content: flex-end;
		width: 3rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		background-image: url(/images/bars-solid.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		height: 35px;
		width: 35px;
		border: 0;
		-webkit-filter: invert(1);
		filter: invert(1);
		padding: 0;
		
	}

	.mobile-nav-toggle[aria-expanded="false"] {
		background-image: url(/images/x-solid.svg);
	}
}

/* nav-end */

.showcase {
	font-family: 'Roboto', sans-serif;
}

.showcase h1{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 150px;
	/* position: absolute; */
	/* z-index: 300;
	margin-top: 150px; */
}

.showcase p{
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #f5f5f5;
}

.animation {
	opacity: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
	max-width: 100%;
}

.glitch {
	font-size: 4rem;
	text-shadow:0.02em 1 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
    			0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.glitch:hover {
	animation: glitch 200ms infinite;
}

@keyframes glitch {
	0% {
	text-shadow:0.05em 0 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em 0.05em 0 rgba(33, 91, 240, 0.75);
	}
	14% {
	text-shadow:0.05em 0 0 rgba(240, 78, 33, 0.75),
				-0.05em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em 0.05em 0 rgba(33, 91, 240, 0.75);
	}
	15% {
	text-shadow:-0.05em -0.025em 0 rgba(240, 78, 33, 0.75),
				0.025em 0.025em 0 rgba(62, 111, 236, 0.75),
				-0.05em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	49% {
	text-shadow:-0.05em -0.025em 0 rgba(240, 78, 33, 0.75),
				0.025em 0.025em 0 rgba(62, 111, 236, 0.75),
				-0.05em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	50% {
	text-shadow:0.025em 0.05em 0 rgba(240, 78, 33, 0.75),
				0.05em 0 0 rgba(62, 111, 236, 0.75),
				0 -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	99% {
	text-shadow:0.025em 0.05em 0 rgba(240, 78, 33, 0.75),
				0.05em 0 0 rgba(62, 111, 236, 0.75),
				0 -0.05em 0 rgba(33, 91, 240, 0.75);
	}
	100% {
	text-shadow:-0.025em 0 0 rgba(240, 78, 33, 0.75),
	-			0.025em -0.025em 0 rgba(62, 111, 236, 0.75),
				-0.025em -0.05em 0 rgba(33, 91, 240, 0.75);
	}
}

.showcase img {
	height: 100%;
	width: auto;
}

.skills h1 {
	text-decoration: none;
	color: var(--clr-white);
	transition: 0.3s;
	padding: 5px;		
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

/* skills-start */

.skills {
	background-color: var(--clr-primary-shade);
	border-radius: 24px;
}

.skills h1 > span {
	font-weight: 700;
	margin-inline-end: .75em;
	color: var(--clr-secondary);
}

.card {
	font-size: 24px;
	font-weight: 400;
	color: var(--clr-primary);
	font-family: Arial, Helvetica, sans-serif;
	align-items: center;
	background-color: rgb(220, 220, 220);
}

.card-img-top {
	height: 230px;
	width: auto;
}